body {
  font-family: "Segoe UI", "Roboto", sans-serif;
  background: #f3f6fa;
  margin: 0;
}
.main-app-card {
  max-width: 1200px;
  margin: 38px auto 0 auto;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 6px 32px 0 rgba(40, 80, 110, 0.1);
  padding: 32px 48px 38px 48px;
}
h1 {
  margin-bottom: 28px;
  font-size: 2.5em;
  color: #174076;
  font-weight: 600;
  text-align: left;
}
.controls-row {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.status-label {
  font-size: 1.1em;
  color: #175a5a;
  min-width: 170px;
  text-align: right;
  font-weight: 500;
}
.content-section-wider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
  min-height: 460px;
}
.smile-viewer-wide {
  width: 60%;
  height: 440px;
  background: #fafcfd;
  border: 1.5px solid #ccd7e1;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 26px;
}

.smile-details-wide {
  width: 38%;
  height: 440px;
  padding: 0 10px 0 26px;
  background: #f9fcf5;
  border-radius: 8px;
  border: 1.5px solid #cbe3d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 16px;
  padding: 10px 22px;
  margin: 0 4px;
  border-radius: 5px;
  border: 1px solid #0072ff;
  background: #0072ff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
}
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.smile-details-wide .no-smile-message {
  width: 100%;
  text-align: center;
  color: #aaa;
  font-size: 1.2em;
}

.smile-region-info {
  font-size: 1.15em;
  padding: 20px 14px;
  border-radius: 6px;
  background: #eef8ef;
  border: 1px solid #d2ecd2;
  margin-bottom: 10px;
  font-weight: 500;
  color: #263b31;
  min-height: 46px;
}

.smile-details-wide .smile-detected-header {
  color: #2e8b57;
  margin-bottom: 18px;
  font-size: 2em;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7); /* semi-transparent white */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.loader {
  border-top: 0.5em solid #999;
  border-right: 0.5em solid #ddd;
  border-bottom: 0.5em solid #ddd;
  border-left: 0.5em solid #222;
  animation: load8 1s infinite linear;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
